<phpunit bootstrap="./bootstrap.php" colors="true">

    <testsuite name="Application">
        <directory>./application</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../application</directory>
            <exclude>
                <directory suffix=".phtml">../application/</directory>
                <directory suffix=".php">../library/EasyBib</directory>
                <directory suffix=".php">../library/Ia</directory>
                <directory suffix=".php">../library/PHPExcel</directory>
                <directory suffix=".php">../library/Doctrine</directory>
                <directory suffix=".php">../library/Bisna</directory>
                <directory suffix=".php">../library/Symfony</directory>
                <directory suffix=".php">../library/Zend</directory>
                <file>../application/Bootstrap.php</file>
                <file>../library/PHPExcel.php</file>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8"
        yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
        <log type="testdox" target="./log/testdox.html" />    
    </logging>
    
</phpunit>
